:root{
 --main-bg-color: #012D63;
 --main-text-color:#FFF;
 --add-color:#C7C7C7;
 --accent-color:#959595;
 --btn-accent-color:#8e32c6;
} 
body{
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container{
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.header{
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  margin-left: 152px;
}
.list-nav{
  display: flex; 
  gap: 29px;
  margin-right: 0 auto;
}
.nav-item-link{
  color: var(--add-color);
font-size: 24px;
font-weight: 300;
}
.nav-item-link:hover, .nav-item-link:focus{
color: var(--main-text-color);
font-weight: 400;

}
.list-btn-leng{
  display: flex; 
  margin-left: auto;
}
.item-btn-leng{
  color: var(--add-color);
  font-size: 24px;
  font-weight: 300;
  background-color: var(--main-bg-color);
  border: transparent;
} 
.item-btn-leng:hover, .item-btn-leng:focus{
  color: var(--main-text-color);
  font-weight: 400;
  cursor: pointer;
}

.hero{
  background-image: url(/images/nike-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1520px; 
  padding-top: 94px;
  padding-bottom: 183px;
}
.hero-logo-svg{
  padding-left: 170px;
}

.hero-initials{
  color: var(--main-text-color);
  font-family: PT Serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
padding-left: 196px;
}
.hero-title{
  color: var(--main-text-color);
font-family: Playfair Display;
font-size: 144px;
font-weight: 400;
padding-left: 156px;
}
.hero-subtitle{
  color:  var(--main-text-color);
font-family: Playfair Display;
font-size: 72px;
font-weight: 400;
margin-bottom: 12px;
padding-left: 164px;
} 
.hero-text{
  color:  var(--main-text-color);
font-size: 18px;
font-weight: 400;
margin-bottom: 41px;
padding-left: 164px;
}
.hero-btn{
  color: var(--main-text-color);
  font-size: 24px;
  font-weight: 400;
  background-color: var(--btn-accent-color);
  margin-left: 164px;
  padding: 20px 61px 19px; 
  border-radius: 10px;
}

.list-advantages{
display: flex;

}
.advantages-item-title{
  color:  var(--main-text-color);
text-align: center;
font-family: Playfair Display;
font-size: 36px;
font-weight: 400;
}